@import '@utils/scss/variables.scss';

:global {
  .ant-ribbon {
    margin-top: -15px;
  }
  .ant-card {
    .ant-card-head {
      border-color: rgba($LIGHT_COLOR, 0.16);
    }
    ul {
      border-color: rgba($LIGHT_COLOR, 0.16) !important;
      li {
        border-color: rgba($LIGHT_COLOR, 0.16) !important;
      }
    }
  }
  [data-theme='dark'] {
    .ant-card {
      .ant-card-head {
        border-color: rgba($DARK_COLOR, 0.16);
      }
      ul {
        border-color: rgba($DARK_COLOR, 0.16) !important;
        li {
          border-color: rgba($DARK_COLOR, 0.16) !important;
        }
      }
    }
  }
}

.default_card {
  :global {
    .ant-card-head-title {
      color: $LIGHT_COLOR;
    }
  }
}

[data-theme='dark'] {
  .default_card {
    color: $DARK_COLOR;
    background: $DARK_ELEMENT_BG;
    :global {
      .ant-card-head-title {
        color: $DARK_COLOR;
      }
    }
    ul {
      background: $DARK_ELEMENT_BG;
    }
  }
}
