@import '@utils/scss/mixins.scss';
@import '@utils/scss/variables.scss';

.ant-layout {
  background: $LIGHT_BG;
}
[data-theme='dark'] {
  .ant-layout {
    background: $DARK_BG;
  }
}

.default-col {
  padding: 0.5rem 0.5rem;
}

.ant-badge {
  sup {
    background: $DEFAULT_COLOR !important;
    box-shadow: none !important;
  }
  &.transparent {
    sup {
      color: $DEFAULT_COLOR;
      background: $DEFAULT_COLOR_WITH_OPACITY !important;
    }
  }
  &.success {
    sup {
      background: $SUCCESS_COLOR !important;
    }
    &.transparent {
      sup {
        color: $SUCCESS_COLOR;
        background: $SUCCESS_COLOR_WITH_OPACITY !important;
      }
    }
  }
  &.warning {
    sup {
      background: $WARNING_COLOR !important;
    }
    &.transparent {
      sup {
        color: $WARNING_COLOR;
        background: $WARNING_COLOR_WITH_OPACITY !important;
      }
    }
  }
  &.danger {
    sup {
      background: $DANGER_COLOR !important;
    }
    &.transparent {
      sup {
        color: $DANGER_COLOR;
        background: $DANGER_COLOR_WITH_OPACITY !important;
      }
    }
  }
}

.ant-ribbon {
  background: $DEFAULT_COLOR !important;
  .ant-ribbon-corner {
    color: $DEFAULT_COLOR;
  }
  &.transparent {
    background: $DEFAULT_COLOR_WITH_OPACITY !important;
    .ant-ribbon-text {
      color: $DEFAULT_COLOR;
    }
    .ant-ribbon-corner {
      color: $DEFAULT_COLOR_WITH_OPACITY;
    }
  }
  &.success {
    background: $SUCCESS_COLOR !important;
    .ant-ribbon-corner {
      color: $SUCCESS_COLOR;
    }
    &.transparent {
      background: $SUCCESS_COLOR_WITH_OPACITY !important;
      .ant-ribbon-text {
        color: $SUCCESS_COLOR;
      }
      .ant-ribbon-corner {
        color: $SUCCESS_COLOR_WITH_OPACITY;
      }
    }
  }
  &.warning {
    background: $WARNING_COLOR !important;
    .ant-ribbon-corner {
      color: $WARNING_COLOR;
    }
    &.transparent {
      background: $WARNING_COLOR_WITH_OPACITY !important;
      .ant-ribbon-text {
        color: $WARNING_COLOR;
      }
      .ant-ribbon-corner {
        color: $WARNING_COLOR_WITH_OPACITY;
      }
    }
  }
  &.danger {
    background: $DANGER_COLOR !important;
    .ant-ribbon-corner {
      color: $DANGER_COLOR;
    }
    &.transparent {
      background: $DANGER_COLOR_WITH_OPACITY !important;
      .ant-ribbon-text {
        color: $DANGER_COLOR;
      }
      .ant-ribbon-corner {
        color: $DANGER_COLOR_WITH_OPACITY;
      }
    }
  }
}

.ant-tag {
  background: $DEFAULT_COLOR;
  border: none;
  color: #fff;
  i {
    margin-right: 5px;
  }
  &.transparent {
    color: $DEFAULT_COLOR;
    background: $DEFAULT_COLOR_WITH_OPACITY;
  }
  &.success {
    background: $SUCCESS_COLOR;
    &.transparent {
      color: $SUCCESS_COLOR;
      background: $SUCCESS_COLOR_WITH_OPACITY;
    }
  }
  &.warning {
    background: $WARNING_COLOR;
    &.transparent {
      color: $WARNING_COLOR;
      background: $WARNING_COLOR_WITH_OPACITY;
    }
  }
  &.danger {
    background: $DANGER_COLOR;
    &.transparent {
      color: $DANGER_COLOR;
      background: $DANGER_COLOR_WITH_OPACITY;
    }
  }
}

.ant-progress {
  .ant-progress-text {
    color: $LIGHT_COLOR;
  }
  .ant-progress-bg {
    background: $DEFAULT_COLOR;
  }
  &.transparent {
    .ant-progress-bg {
      background: $DEFAULT_COLOR_WITH_OPACITY;
    }
  }
  &.success {
    .ant-progress-bg {
      background: $SUCCESS_COLOR;
    }
    &.transparent {
      .ant-progress-bg {
        background: $SUCCESS_COLOR_WITH_OPACITY;
      }
    }
  }
  &.warning {
    .ant-progress-bg {
      background: $WARNING_COLOR;
    }
    &.transparent {
      .ant-progress-bg {
        background: $WARNING_COLOR_WITH_OPACITY;
      }
    }
  }
  &.danger {
    .ant-progress-bg {
      background: $DANGER_COLOR;
    }
    &.transparent {
      .ant-progress-bg {
        background: $DANGER_COLOR_WITH_OPACITY;
      }
    }
  }
}
[data-theme='dark'] {
  .ant-progress {
    .ant-progress-text {
      color: $DARK_COLOR;
    }
  }
}

.ant-empty-small {
  .ant-empty-image {
  }
  .ant-empty-description {
    color: $LIGHT_COLOR;
  }
}
[data-theme='dark'] {
  .ant-empty-small {
    .ant-empty-image {
    }
    .ant-empty-description {
      color: $DARK_COLOR;
    }
  }
}

.smart-btn {
  color: #fff !important;
  border: none !important;

  &,
  &:hover {
    background: $DEFAULT_COLOR !important;
  }
  &.transparent {
    color: $DEFAULT_COLOR !important;
    &,
    &:hover {
      background: $DEFAULT_COLOR_WITH_OPACITY !important;
    }
  }

  &.success {
    &,
    &:hover {
      background: $SUCCESS_COLOR !important;
    }
    &.transparent {
      color: $SUCCESS_COLOR !important;
      &,
      &:hover {
        background: $SUCCESS_COLOR_WITH_OPACITY !important;
      }
    }
  }
  &.warning {
    &,
    &:hover {
      background: $WARNING_COLOR !important;
    }
    &.transparent {
      color: $WARNING_COLOR !important;
      &,
      &:hover {
        background: $WARNING_COLOR_WITH_OPACITY !important;
      }
    }
  }
  &.danger {
    &,
    &:hover {
      background: $DANGER_COLOR !important;
    }
    &.transparent {
      color: $DANGER_COLOR !important;
      &,
      &:hover {
        background: $DANGER_COLOR_WITH_OPACITY !important;
      }
    }
  }
}
