$TRANSITION_TIME: 0.5s;

$BORDER_RADIUS: 8px;

$DARK_BG: rgb(37, 41, 60);
$DARK_ELEMENT_BG: rgb(47, 51, 73);
$DARK_COLOR: rgba(208, 212, 241, 0.68);
$DARK_HOVER_BG: rgba(208, 212, 241, 0.04);
$DARK_HOVER_COLOR: #fff;
$DARK_SMALL_SHADOW: rgba(15, 20, 34, 0.14) 0px 2px 6px 0px;
$DARK_LARGE_SHADOW: rgba(15, 20, 34, 0.1) 0px 4px 18px 0px;

$LIGHT_BG: rgb(248, 247, 250);
$LIGHT_ELEMENT_BG: rgb(255, 255, 255);
$LIGHT_COLOR: rgba(47, 43, 61, 0.68);
$LIGHT_HOVER_BG: rgba(47, 43, 61, 0.04);
$LIGHT_HOVER_COLOR: #000;
$LIGHT_SMALL_SHADOW: rgba(47, 43, 61, 0.14) 0px 2px 6px 0px;
$LIGHT_LARGE_SHADOW: rgba(47, 43, 61, 0.1) 0px 4px 18px 0px;

$ACTIVE_ELEMENT_BG_GRADIENT_DEG: 72.47deg;
$ACTIVE_ELEMENT_BG_GRADIENT_COLOR_1: rgb(115, 103, 240);
$ACTIVE_ELEMENT_BG_GRADIENT_PERCENT_1: 22.16%;
$ACTIVE_ELEMENT_BG_GRADIENT_COLOR_2: rgba(115, 103, 240, 0.7);
$ACTIVE_ELEMENT_BG_GRADIENT_PERCENT_2: 76.47%;

$ACTIVE_ELEMENT_BOX_SHADOW: rgba(115, 103, 240, 0.48) 0px 2px 6px;

$DEFAULT_COLOR: $ACTIVE_ELEMENT_BG_GRADIENT_COLOR_1;
$SUCCESS_COLOR: rgb(40, 199, 111);
$WARNING_COLOR: rgb(255, 159, 67);
$DANGER_COLOR: rgb(234, 84, 85);

$DEFAULT_COLOR_WITH_OPACITY: rgba(115, 103, 240, 0.16);
$SUCCESS_COLOR_WITH_OPACITY: rgb(40, 199, 111, 0.16);
$WARNING_COLOR_WITH_OPACITY: rgb(255, 159, 67, 0.16);
$DANGER_COLOR_WITH_OPACITY: rgb(234, 84, 85, 0.16);
