@import '@utils/scss/variables.scss';

.btn {
  width: 100%;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: space-between !important;

  :global {
    .ant-btn-icon {
      float: none;
      margin: 0;
      margin-left: 0.5rem;
      line-height: 1;
      display: inline-flex;
      align-items: center;
    }
  }
}

:global {
  .ant-btn {
    width: 100%;
  }
  //   .ant-select {
  //     min-width: 300px;
  //     max-width: 350px;
  //   }
}

// .test {
//   :global {
//     .ant-input-number-group-addon {
//       background: $DARK_BG;
//       color: $DARK_COLOR;
//       border: none;
//     }
//     .ant-input-number {
//       width: 10rem;
//     }
//   }
// }
