@import '@utils/scss/variables.scss';

:global {
  .ant-alert {
    background: $DEFAULT_COLOR;
    border: none;
    .ant-alert-icon,
    .ant-alert-message,
    .ant-alert-description,
    .ant-alert-close-icon span {
      color: #fff;
    }

    .ant-alert-close-icon {
      span {
        color: #fff !important;
      }
    }

    i.ant-alert-icon {
      margin-top: 0.75rem;
    }

    &.transparent {
      &,
      .ant-alert-icon,
      .ant-alert-message,
      .ant-alert-description,
      .ant-alert-close-icon {
        color: $DEFAULT_COLOR;
      }
      background: $DEFAULT_COLOR_WITH_OPACITY;
    }
    &.success {
      background: $SUCCESS_COLOR;
      &.transparent {
        &,
        .ant-alert-icon,
        .ant-alert-message,
        .ant-alert-description,
        .ant-alert-close-icon {
          color: $SUCCESS_COLOR;
        }
        background: $SUCCESS_COLOR_WITH_OPACITY;
      }
    }
    &.warning {
      background: $WARNING_COLOR;
      &.transparent {
        &,
        .ant-alert-icon,
        .ant-alert-message,
        .ant-alert-description,
        .ant-alert-close-icon {
          color: $WARNING_COLOR;
        }
        background: $WARNING_COLOR_WITH_OPACITY;
      }
    }
    &.danger {
      background: $DANGER_COLOR;
      &.transparent {
        &,
        .ant-alert-icon,
        .ant-alert-message,
        .ant-alert-description,
        .ant-alert-close-icon {
          color: $DANGER_COLOR;
        }
        background: $DANGER_COLOR_WITH_OPACITY;
      }
    }
  }
}
