@import '@utils/scss/variables.scss';

// :global {
// [data-theme='dark'] {
// }
// }

:global {
  .action-btn {
    color: #fff !important;
    border: none !important;

    background: $DEFAULT_COLOR;
    &.transparent {
      color: $DEFAULT_COLOR !important;
      background: $DEFAULT_COLOR_WITH_OPACITY;
    }

    &.success {
      background: $SUCCESS_COLOR;
      &.transparent {
        color: $SUCCESS_COLOR !important;
        background: $SUCCESS_COLOR_WITH_OPACITY;
      }
    }
    &.warning {
      background: $WARNING_COLOR;
      &.transparent {
        color: $WARNING_COLOR !important;
        background: $WARNING_COLOR_WITH_OPACITY;
      }
    }
    &.danger {
      background: $DANGER_COLOR;
      &.transparent {
        color: $DANGER_COLOR !important;
        background: $DANGER_COLOR_WITH_OPACITY;
      }
    }
  }
}
